[Unit]
Description=Go web server

[Service]
Type=simple
User=exedev
Group=exedev
WorkingDirectory=/home/exedev/todo-app
ExecStart=/home/exedev/todo-app/todo-srv
Restart=always
RestartSec=5
Environment=HOME=/home/exedev
Environment=USER=exedev
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
